################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Style-Forge-Tester/bin/Debug/net8.0
/.vs
/Style-Forge-Tester/obj
/Style-Forge-Tester/Style-Forge-Tester.csproj.user
