@page "/"
<PageTitle>Home</PageTitle>

<span style="width: 100%; text-align:center;"><h1>Style-Forge Blazor Test Page</h1></span>

<h3>Ribbon Control</h3>
<RibbonControl MenuItems="@NavMenuItems" AutoSelectFirstTab="true"></RibbonControl>

<h3>Button Control</h3>
<Button Text="Button" />

<h3>Checkbox Control</h3>
<CheckBox Text="Hello World" />

@code {
    private List<NavMenuItem>? NavMenuItems { get; set; } = new List<NavMenuItem>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            NavMenuItem rootItem = new NavMenuItem()
                {
                    Text = "",
                    Icon = "icon-192.png",
                    Type = new Style_Forge.UI.Ribbon.NavLink(),
                    LinkStyle = NavLinkStyle.Icon,
                    IconWidth = "30px",
                    IconHeight = "30px"
                };
            rootItem.CSSProperties.Add(new CSSProperty<Width> { Value = new Width { Size = 34, SizeType = Style_Forge.Common.Enums.SizeType.Pixel } });
            rootItem.CSSProperties.Add(new CSSProperty<Height> { Value = new Height { Size = 4.5, SizeType = Style_Forge.Common.Enums.SizeType.VariableHeight } });

            NavMenuItems.Add(rootItem);
            NavMenuItems.Add(new NavMenuItem() { Text = "Tab 1", Type = new Style_Forge.UI.Ribbon.NavTab(), LinkStyle = NavLinkStyle.Text, Section = null });
            NavMenuItems.Add(new NavMenuItem() { Text = "Tab 2", Type = new Style_Forge.UI.Ribbon.NavTab(), LinkStyle = NavLinkStyle.Text, Section = null });
            NavMenuItems.Add(new NavMenuItem() { Text = "Tab 3", Type = new Style_Forge.UI.Ribbon.NavTab(), LinkStyle = NavLinkStyle.Text, Section = null });
            NavMenuItems.Add(new NavMenuItem() { Text = "Tab 4", Type = new Style_Forge.UI.Ribbon.NavTab(), LinkStyle = NavLinkStyle.Text, Section = null });

            await InvokeAsync(StateHasChanged);
        }
    }
}