@page "/"

<PageTitle>Home</PageTitle>

<h1>Style-Forge Blazor Test Page</h1>

<h3>Ribbon Control</h3>

<RibbonControl MenuItems="@NavMenuItems"></RibbonControl>

@code {
    private List<NavMenuItem>? NavMenuItems { get; set; } = new List<NavMenuItem>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //NavMenuItems.Add(new NavMenuItem() { Text = "", Icon = "images/mdt_icon.png", Type = new NavLink(), LinkStyle = NavLinkStyle.Icon, Width = "34px", IconWidth = "30px", IconHeight = "30px", Height = "4.5vh" });
            NavMenuItems.Add(new NavMenuItem() { Text = "Tab 1", Type = new NavTab(), LinkStyle = NavLinkStyle.Text, Section = null, FontColor = "red" });

            await InvokeAsync(StateHasChanged);
        }
    }
}