@using Style_Forge.Common.CSSProperties
@inherits StyleForgeComponent

<div class="neris_checkbox noselect">
    <div class="box noselect" style="float: left;" @onclick="@checkbox_clicked">
        @if (Selected)
        {
            <div class="dot noselect">
            </div>
        }
    </div>
    <div style="float: left; text-align: left; padding-left: 0.2vw; line-height: 1.1vw; font-size: 0.8vw;">
        @Text
    </div>
</div>


@code {
    protected override async Task OnParametersSetAsync()
    {
        Value = Selected.ToString().ToLower();
    }

    private async Task selectChanged(ChangeEventArgs e)
    {
        Value = e.Value.ToString();

        Selected = bool.Parse(Value);

        await OnSelectionChanged.InvokeAsync(this);
    }

    private async Task checkbox_clicked(MouseEventArgs e)
    {
        Selected = !Selected;

        await OnSelectionChanged.InvokeAsync(this);

        await InvokeAsync(StateHasChanged);
    }
}
