@inherits StyleForgeComponent
<td valign="top">
    <div style="margin-top: 0.4vh;">
        <div style="float: left; width: 1px; background-color: #58616F; height: 7vh;" />
        <div style="float: left; width: 1px; background-color: #DDE0E4; height: 7vh;" />
    </div>
</td>

@code {

}
