@inherits StyleForgeComponent
<td>
    <tr style="text-align: center;">
        <td style="padding-left: 1vw; padding-right: 1vw; @CSSProperties.GetCSSStyleOutput()">
            @Text
        </td>
    </tr>
</td>

@code {
    [Parameter] public string? Text { get; set; }
}
