.sf_navlink {
    float: left;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-left: 1px;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    vertical-align: middle;
    line-height: 4.5vh;
    font-size: 2.2vh;
    border-top: 1px solid #1B1B1B;
    border-left: 1px solid #1B1B1B;
    border-right: 1px solid #1B1B1B;
    transition: all 0.2s linear;
    cursor: pointer;
    display: flex;
}

    .sf_navlink:hover {
        color: black;
        border-top: 1px solid #BFA85E;
        border-left: 1px solid #BFA85E;
        border-right: 1px solid #BFA85E;
        border-radius: 3px;
        background: linear-gradient(180deg, rgba(255,255,239,1) 0%, rgba(255,244,172,1) 1%, rgba(255,226,137,1) 35%, rgba(255,217,108,1) 36%, rgba(255,182,22,1) 37%, rgba(255,224,141,1) 99%, rgba(255,239,88,1) 100%);
    }

    .sf_navlink:active {
        border-top: 1px solid #4B361B;
        border-left: 1px solid #645137;
        border-right: 1px solid #645137;
        border-radius: 3px;
        background: rgb(212,110,36);
        background: linear-gradient(180deg, rgba(212,110,36,1) 0%, rgba(242,126,46,1) 1%, rgba(249,118,58,1) 35%, rgba(249,109,48,1) 36%, rgba(247,76,15,1) 37%, rgba(254,168,83,1) 99%, rgba(251,117,1,1) 100%);
    }

    .sf_navlink img {
        vertical-align: middle;
        margin: auto;
    }
