@inherits NavMenuItemBase
@if (IsSelected == true)
{
    <div class="sf_navtab selected" @onclick="@TabClicked" style="font-size: @FontSize !important; font-family: @FontFamily !important; color: @FontColor !important; line-height: @LineHeight !important;">
        <span>@Text</span>
    </div>
}
else
{
    <div class="sf_navtab" @onclick="@TabClicked" style="font-size: @FontSize !important; font-family: @FontFamily !important; color: @FontColor !important; line-height: @LineHeight !important;">
        <span>@Text</span>
    </div>
}

@code {
    [Parameter] public bool IsSelected { get; set; }

    private void TabClicked(MouseEventArgs e)
    {
        OnClicked.InvokeAsync(this);
    }
}
