@inherits NavMenuItemBase
@if (IsSelected == true)
{
    <div class="icx_navtab_selected" @onclick="@TabClicked">
        <span>@Text</span>
    </div>
}
else
{
    <div class="sf_navtab" @onclick="@TabClicked">
        <span>@Text</span>
    </div>
}

@code {
    [Parameter] public bool IsSelected { get; set; }

    private void TabClicked(MouseEventArgs e)
    {
        OnClicked.InvokeAsync(this);
    }
}
